@font-face {
   font-family: 'DS-DIGIT';
   font-display: swap;
   src: url('file:///C:/Users/admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-09-29_200013/fonts/DS-DIGIT/font.TTF');
}
